body {
    height: 100%;
}
.localeIcon {
    height: 50px;
    width: 50px;
}
#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.numberInput {
    width: 40px;
}
.userForm {
    margin-top: 80px;
}
.wrapper {
    padding-bottom: 80px;
}
.cardItem {
    font-size: 35px;
}
.removeBtn {
    color: darkred;
    font-size: 25px;
}