body {
    height: 100%;
}
del {
    font-style: italic;
}
.localeIcon {
    height: 50px;
    width: 50px;
}
#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.numberInput {
    width: 40px;
    width: 70px;
}
.userForm {
    margin-top: 80px;
}
.tableBottom {
    background-color: black;
    color:white;
    font-weight: bold;
}
.wrapper {
    padding-bottom: 80px;
}
.cardItem {
    font-size: 35px;
}
.removeBtn {
    color: darkred;
    font-size: 25px;
}

.errorMessage {
    color: red;
}