body {
    height: 100%;
}
del {
    font-style: italic;
}
form {
    overflow: auto;
}
#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.title {
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}
.successMessage {
    color: forestgreen;
    font-weight: bold;
}
.errorMessage {
    color: red;
}
.localeIcon {
    height: 50px;
    width: 50px;
}

.numberInput {
    width: 40px;
    width: 70px;
}
.userForm {
    margin-top: 50px;
    padding-bottom: 100px;
}
.tableBottom {
    background-color: black;
    color:white;
    font-weight: bold;
}
.wrapper {
    padding-bottom: 80px;
}
.cardItem {
    font-size: 35px;
}
.removeBtn {
    color: darkred;
    font-size: 25px;
}